@model int
@{
    ViewData["Title"] = "Delete Camera";
}


<h2>Are you dutr you want to delete this part?</h2>
<a class="btn btn-default" href="/cameras/details/@Model">Back</a>
<a class="btn btn-danger" href="/cameras/destroy/@Model">Confirm Delete</a>

